.img-top-menu {
    width: 100%;
    height: 275px;
    padding: 0;

    img {
        object-fit: cover;
        z-index: -1;
        width: 100%;
        height: 275px;
    }
}

.menu-container {
    position: relative;
    top: -32px;
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-bottom: 0;

    .title-menu {
        display: flex;
        align-items: center;

        h2 {
            margin: 0;
            font-family: $fonttitle;
            font-size: 28px;
            font-style: italic;
            font-weight: 400;
            margin-right: 30px;
        }

        i {
            font-size: 22px;
        }
    }

    .like-content2 i {
        position: relative;
        left: -22px;
        opacity: 0;
        width: 25px;
        opacity: 0;
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        -webkit-background-clip: text;              /* Faire apparaitre que l'intérieur de l'icone */
        -webkit-text-fill-color: transparent;              /* Brackground linear sur l'icone */
        animation: disparaitre 1s;              /* Animation au retour du hover */
    }
    
    .like-content2 i:hover {              /* Animation sur le hover du like */
        animation: apparaitre 1s;
        animation-fill-mode: forwards;
    }

    .menu-content {
        display: flex;
        flex-direction: column;
        margin-top: 40px;

        h2 {
            font-size: 16px;
            font-weight: 300;
            margin: 0;
        }

        .trait-dessous {
            border-top: 3px solid #99E2D0;
            width: 40px;
            margin: 5px 0;
        }

        .menu-plat {
            display: flex;
            background: white;
            border-radius: 15px;
            box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px #0000001A;
            padding-left: 15px;
            margin-top: 12px;

            .menu-name {
                display: flex;
                flex-direction: column;
                padding: 12px 0;
                width: 80%;
                transition: all $time1;

                h3 {
                    font-size: 18px;
                    font-weight: 500;
                    margin: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
    
                p {
                    font-size: 15px;
                    font-weight: 300;
                    margin-top: 5px;
                    margin-bottom: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .price {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                padding: 12px 0;
                width: 20%;
                transition: all $time1;

                p {
                font-size: 15px;
                font-weight: 700;
                margin: 0 13px;
                }
            }

            .select-button {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: -60px;
                visibility: hidden;
                width: 0px;
                background-color: #99E2D0;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                transition: all $time1;

                i {
                    font-size: 20px;
                    color: white;
                }
            }
        }
    }
}

.menu-plat:hover {              /* Animation au survol des plats*/
    .select-button {              /* Case verte avec icone selected*/
        animation: move 1.5s;
        animation-fill-mode: forwards;
        transform: translateX(-60px);
        transition: ease-out 1s;
    }

    .price {              /* Déplacement du prix */
        animation: width2 1.5s;
        animation-fill-mode: forwards;
        transform: translateX(-60px);
        transition: ease-out 1s;
    }

    .menu-name {              /* Gestion largeur du nom du menu */
        animation: width1 1.5s;
        animation-fill-mode: forwards;
    }
}

.valid {

    display: flex;
    justify-content: center;

    input {
        width: 186px;
        color: white;
        font-size: 16px;
        font-weight: 500;
    }
}

/* APPARITION DES MENUS */
.first-choice {
    opacity: 0;
    animation: apparaitre 2s;
    animation-fill-mode: forwards;
    transition: ease-out 1s;
}

.second-choice {
    opacity: 0;
    animation: apparaitre 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    transition: ease-out 1s;
}

.third-choice {
    opacity: 0;
    animation: apparaitre 2s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    transition: ease-out 1s;
}

@keyframes move 
{
    from {
        opacity: 0;
        visibility: hidden;
    }
    to
    {
        opacity: 1;
        width: 60px;
        visibility: visible;
    }
}

@keyframes width1
{
    from {
        width: 80%;
    }
    to
    {
        width: 60%;
    }
}

@keyframes width2
{
    from {
        width: 20%;
    }
    to
    {
        width: 40%;
    }
}

@keyframes apparaitre
{
    from {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

@keyframes disparaitre
{
    from {
        opacity: 1;
    }
    to
    {
        opacity: 0;
    }
}

/* RESPONSIVE */
@media (min-width: 767.98px) {

    body {
        background: white;
    }
        
    .menu-container {
        max-width: 1055px;
        align-items: center;
        margin: 0 auto;

        .title-menu{
            justify-content: center;
        }
        
        .menu-content {
            max-width: 634px;
            width: 100%;
        }
    }

}