section {
    padding: 48px 20px;

    h2 {
        font-size: 24px;
        font-weight: 700;
    }
}


.instruction {
    background-color: white;
    visibility: hidden;
    animation: appear 2s;
    animation-fill-mode: forwards;
    animation-delay: 3s;

    .step-container {
        display: flex;
        flex-direction: column;

        .step {
            display: flex;
            align-items: center;
            background-color: #F6F6F6;
            margin-bottom: 25px;
            border-radius: 20px;
            box-shadow: 0px 4px 15px 0px #00000026;

            p {
                position: relative;
                left: -10px;
                color: white;
                background-color: $color1;
                border-radius: 50px;
                padding: 3px;
                padding-bottom: 2px;
                padding-top: 4px;
                width: 24px;
                height: 24px;
                text-align: center;
            }

            i {
                margin: 0 30px;
                color: #7E7E7E;
            }

            h3 {
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
}

.restaurant-container {
    background-color: #F6F6F6;
    position: relative;
    visibility: hidden;
    animation: appear 2s;
    animation-fill-mode: forwards;
    animation-delay: 3s;

    .restaurants-cards {
        display: flex;
        flex-direction: column;
        align-items: center;

        .list-card {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        a {

            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            color: black;
            width: 100%;

            .card {
                position: relative;
                background-color: white;
                border-radius: 15px;
                width: 100%;
                max-width: 400px;
                height: 250px;
                margin-bottom: 18px;
            
                .new-content {
                    position: absolute;
                    top: 15px;
                    right: 20px;
                    width: 80px;
                    height: 25px;
                    border-radius: 2px;
                    background: $color3;
                    box-shadow: 0 2px 4px 0 #00000026;

                    p {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0;
                        height: 100%;
                        font-size: 14px;
                        font-weight: 500;
                        color: #008766;
                    }
                }  

                img {
                    object-fit: cover;
                    object-position: 50% 60%;
                    width: 100%;
                    height: 70%;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                }

                .card-content {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 4px 25px 12px 13px;

                    .card-text {
                        h3 {
                            font-weight: 700;
                            font-size: 18px;
                            margin: 5px 0;
                        }

                        p {
                            font-weight: 300;
                            font-size: 17px;
                            margin: 0;
                        }
                    }

                    .like-icon {
                        margin-right: 11px;
                        font-size: 22px;
                        cursor: pointer;
                    }

                    i {
                        font-size: 22px;
                    }
                
                }
            }
        }
    }
}

.like-content2 i {
    position: relative;
    left: -26px;
    opacity: 0;
    width: 25px;
    opacity: 0;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    -webkit-background-clip: text;              /* Faire apparaitre que l'intérieur de l'icone */
    -webkit-text-fill-color: transparent;              /* Brackground linear sur l'icone */
    animation: disparaitre 1s;
}

.like-content2 i:hover {               /* Animation du like au hover */
    animation: apparaitre 1s;
    animation-fill-mode: forwards;
}

.loader-container {               /* Position du loader au centre de la page et animation d'une durée de 3s */
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-75px);
    animation: disappear 3s;
    animation-fill-mode: forwards;
}

.loader {               /* Loader */
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: absolute;
        animation: rotate 1s linear infinite
      }
.loader::before , .loader::after {               /* Barre grise du loader */
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 5px solid #7E7E7E;
        animation: prixClipFix 2s linear infinite ;
      }
.loader::after{               /* Barre rose du loader */
        inset: 8px;
        transform: rotate3d(90, 90, 0, 180deg );
        border-color: #a980db;
      }

@keyframes rotate {              /* Animation Rotation du loader */
        0%   {transform: rotate(0deg)}
        100%   {transform: rotate(360deg)}
      }
@keyframes prixClipFix {              /* Animation des polygon du loader avec 3 étapes */
        0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
        50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
        75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    }

@keyframes apparaitre              /* Animation pour like */
    {
        from {
            opacity: 0;
        }
        to
        {
            opacity: 1;
        }
    }

@keyframes disparaitre              /* Animation pour like */
    {
        from {
            opacity: 1;
        }
        to
        {
            opacity: 0;
        }
    }

@keyframes appear              /* Animation pour loader */
    {
        from {
            visibility: hidden;
        }
        to
        {
            visibility: visible;
        }
    }

@keyframes disappear              /* Animation pour loader */
    {
        from {
            display: block;
        }
        to
        {
            display: none;
        }
    }

    /* RESPONSIVE TABLETTE */
    @media (min-width: 767.98px) {
        
        .instruction {
            .step-container {
            flex-direction: row;
            justify-content: space-between;

            h3 {
                margin-right: 15px;
            }
            }
        }

        .restaurant-container .restaurants-cards {
            .list-card {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;

                a{
                    width: 50%;
                }
            }
        }

    }

    /* RESPONSIVE DESKTOP */
    @media (min-width: 1280px) {

        .instruction {
            
            h2 {
                max-width: 1265px;
            margin: 10px auto;
            }

            .step-container {
            max-width: 1265px;
            margin: 0 auto;
            }
        }

        .restaurant-container {

            h2 {
                max-width: 1265px;
                margin: 10px auto;
            }

            .restaurants-cards {
                max-width: 1265px;
                margin: 0 auto;
            }
        }
    }
