@charset "UTF-8";
header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px 0 13px 0;
}
header .logo img {
  width: 162px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  visibility: hidden;
  -webkit-animation: appear 2s;
          animation: appear 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
nav h2 {
  font-weight: 700;
  font-size: 24px;
  width: 275px;
  padding-top: 10px;
}
nav p {
  font-weight: 300;
  font-size: 18px;
  color: #353535;
  margin: 0 10px;
}
nav .localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
  background-color: #EAEAEA;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922), inset 0px 2px 4px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922), inset 0px 2px 4px rgba(0, 0, 0, 0.1490196078);
}
nav .localisation i {
  height: 16px;
  margin: 0 5px;
}
nav .localisation p {
  font-weight: 500;
  font-size: 16px;
  color: #353535;
  margin: 0 5px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #F6F6F6;
}

section {
  padding: 48px 20px;
}
section h2 {
  font-size: 24px;
  font-weight: 700;
}

.instruction {
  background-color: white;
  visibility: hidden;
  -webkit-animation: appear 2s;
          animation: appear 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.instruction .step-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.instruction .step-container .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  margin-bottom: 25px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.instruction .step-container .step .fa-circle {
  z-index: 0;
  position: absolute;
  left: -40px;
  bottom: 15px;
  color: #9356DC;
  font-size: 24px;
}
.instruction .step-container .step p {
  position: relative;
  left: -2px;
  top: -1px;
  color: white;
  z-index: 1;
  text-align: center;
}
.instruction .step-container .step i {
  margin: 0 30px;
  color: #7E7E7E;
}
.instruction .step-container .step h3 {
  font-weight: 500;
  font-size: 16px;
}

.restaurant-container {
  background-color: #F6F6F6;
  position: relative;
  visibility: hidden;
  -webkit-animation: appear 2s;
          animation: appear 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.restaurant-container .restaurants-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.restaurant-container .restaurants-cards .list-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.restaurant-container .restaurants-cards a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  width: 100%;
}
.restaurant-container .restaurants-cards a .card {
  position: relative;
  background-color: white;
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  height: 250px;
  margin-bottom: 18px;
}
.restaurant-container .restaurants-cards a .card .new-content {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 80px;
  height: 25px;
  border-radius: 2px;
  background: #99E2D0;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1490196078);
}
.restaurant-container .restaurants-cards a .card .new-content p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
}
.restaurant-container .restaurants-cards a .card img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
  width: 100%;
  height: 70%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant-container .restaurants-cards a .card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 25px 12px 13px;
}
.restaurant-container .restaurants-cards a .card .card-content .card-text h3 {
  font-weight: 700;
  font-size: 18px;
  margin: 5px 0;
}
.restaurant-container .restaurants-cards a .card .card-content .card-text p {
  font-weight: 300;
  font-size: 17px;
  margin: 0;
}
.restaurant-container .restaurants-cards a .card .card-content .like-icon {
  margin-right: 11px;
  font-size: 22px;
  cursor: pointer;
}
.restaurant-container .restaurants-cards a .card .card-content i {
  font-size: 22px;
}

.like-content2 i {
  position: relative;
  left: -26px;
  opacity: 0;
  width: 25px;
  opacity: 0;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text; /* Faire apparaitre que l'intérieur de l'icone */
  -webkit-text-fill-color: transparent; /* Brackground linear sur l'icone */
  -webkit-animation: disparaitre 1s;
          animation: disparaitre 1s;
}

.like-content2 i:hover { /* Animation du like au hover */
  -webkit-animation: apparaitre 1s;
          animation: apparaitre 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader-container { /* Position du loader au centre de la page et animation d'une durée de 3s */
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-75px);
          transform: translateX(-75px);
  -webkit-animation: disappear 3s;
          animation: disappear 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader { /* Loader */
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: rotate 1s linear infinite;
          animation: rotate 1s linear infinite;
}

.loader::before, .loader::after { /* Barre grise du loader */
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #7E7E7E;
  -webkit-animation: prixClipFix 2s linear infinite;
          animation: prixClipFix 2s linear infinite;
}

.loader::after { /* Barre rose du loader */
  inset: 8px;
  -webkit-transform: rotate3d(90, 90, 0, 180deg);
          transform: rotate3d(90, 90, 0, 180deg);
  border-color: #a980db;
}

@-webkit-keyframes rotate { /* Animation Rotation du loader */
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate { /* Animation Rotation du loader */
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes prixClipFix { /* Animation des polygon du loader avec 3 étapes */
  0% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
            clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%, 100% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}
@keyframes prixClipFix { /* Animation des polygon du loader avec 3 étapes */
  0% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
            clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%, 100% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}
@-webkit-keyframes apparaitre              /* Animation pour like */ {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes apparaitre              /* Animation pour like */ {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes disparaitre              /* Animation pour like */ {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes disparaitre              /* Animation pour like */ {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes appear              /* Animation pour loader */ {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@keyframes appear              /* Animation pour loader */ {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@-webkit-keyframes disappear              /* Animation pour loader */ {
  from {
    display: block;
  }
  to {
    display: none;
  }
}
@keyframes disappear              /* Animation pour loader */ {
  from {
    display: block;
  }
  to {
    display: none;
  }
}
/* RESPONSIVE TABLETTE */
@media (min-width: 767.98px) {
  .instruction .step-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .instruction .step-container h3 {
    margin-right: 15px;
  }
  .restaurant-container .restaurants-cards .list-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .restaurant-container .restaurants-cards .list-card a {
    width: 50%;
  }
}
/* RESPONSIVE DESKTOP */
@media (min-width: 1280px) {
  .instruction h2 {
    max-width: 1265px;
    margin: 10px auto;
  }
  .instruction .step-container {
    max-width: 1265px;
    margin: 0 auto;
  }
  .restaurant-container h2 {
    max-width: 1265px;
    margin: 10px auto;
  }
  .restaurant-container .restaurants-cards {
    max-width: 1265px;
    margin: 0 auto;
  }
}
footer {
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 22px;
}
footer h2 {
  font-family: "Shrikhand", Arial, sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 10px 0;
}
footer .list_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .list_footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  height: 20px;
  font-size: 16px;
  margin-top: 7px;
}
footer .list_footer a .bold-footer {
  font-weight: 500;
}
footer .list_footer i {
  margin-right: 5px;
}

/* RESPONSIVE */
@media (min-width: 767.98px) {
  footer { /* Alignement du footer par la droite et en une ligne */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 50px;
  }
  footer h2 {
    margin: 0 20px;
  }
  footer .list_footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .list_footer a {
    margin: 0 10px;
  }
  footer .list_footer a p {
    white-space: nowrap;
  }
}
/* BOUTON PRINCIPAL */
.basic-button {
  height: 50px;
  border-radius: 25px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  margin: 27px auto;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2509803922);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  padding: 13px 18.75px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.basic-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#a980db));
  background: linear-gradient(#FF79DA, #a980db);
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.568627451);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.568627451);
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

/* BOUTON RETOUR */
.back-button {
  position: absolute;
  top: 18px;
  left: 17px;
  height: 30px;
  width: 30px;
  border: none;
  background: none;
}
.back-button i {
  font-size: 20px;
  color: #353535;
}

.img-top-menu {
  width: 100%;
  height: 275px;
  padding: 0;
}
.img-top-menu img {
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  width: 100%;
  height: 275px;
}

.menu-container {
  position: relative;
  top: -32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F6F6F6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-bottom: 0;
}
.menu-container .title-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-container .title-menu h2 {
  margin: 0;
  font-family: "Shrikhand", Arial, sans-serif;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  margin-right: 30px;
}
.menu-container .title-menu i {
  font-size: 22px;
}
.menu-container .like-content2 i {
  position: relative;
  left: -22px;
  opacity: 0;
  width: 25px;
  opacity: 0;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text; /* Faire apparaitre que l'intérieur de l'icone */
  -webkit-text-fill-color: transparent; /* Brackground linear sur l'icone */
  -webkit-animation: disparaitre 1s;
          animation: disparaitre 1s; /* Animation au retour du hover */
}
.menu-container .like-content2 i:hover { /* Animation sur le hover du like */
  -webkit-animation: apparaitre 1s;
          animation: apparaitre 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.menu-container .menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}
.menu-container .menu-content h2 {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}
.menu-container .menu-content .trait-dessous {
  border-top: 3px solid #99E2D0;
  width: 40px;
  margin: 5px 0;
}
.menu-container .menu-content .menu-plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
          box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
  padding-left: 15px;
  margin-top: 12px;
}
.menu-container .menu-content .menu-plat .menu-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px 0;
  width: 80%;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}
.menu-container .menu-content .menu-plat .menu-name h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu-content .menu-plat .menu-name p {
  font-size: 15px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-container .menu-content .menu-plat .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 12px 0;
  width: 20%;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}
.menu-container .menu-content .menu-plat .price p {
  font-size: 15px;
  font-weight: 700;
  margin: 0 13px;
}
.menu-container .menu-content .menu-plat .select-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -60px;
  visibility: hidden;
  width: 0px;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}
.menu-container .menu-content .menu-plat .select-button i {
  font-size: 20px;
  color: white;
}

.menu-plat:hover { /* Animation au survol des plats*/ }
.menu-plat:hover .select-button { /* Case verte avec icone selected*/
  -webkit-animation: move 1.5s;
          animation: move 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
  -webkit-transition: ease-out 1s;
  transition: ease-out 1s;
}
.menu-plat:hover .price { /* Déplacement du prix */
  -webkit-animation: width2 1.5s;
          animation: width2 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
  -webkit-transition: ease-out 1s;
  transition: ease-out 1s;
}
.menu-plat:hover .menu-name { /* Gestion largeur du nom du menu */
  -webkit-animation: width1 1.5s;
          animation: width1 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.valid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.valid input {
  width: 186px;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

/* APPARITION DES MENUS */
.first-choice {
  opacity: 0;
  -webkit-animation: apparaitre 2s;
          animation: apparaitre 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: ease-out 1s;
  transition: ease-out 1s;
}

.second-choice {
  opacity: 0;
  -webkit-animation: apparaitre 2s;
          animation: apparaitre 2s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: ease-out 1s;
  transition: ease-out 1s;
}

.third-choice {
  opacity: 0;
  -webkit-animation: apparaitre 2s;
          animation: apparaitre 2s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: ease-out 1s;
  transition: ease-out 1s;
}

@-webkit-keyframes move {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    width: 60px;
    visibility: visible;
  }
}

@keyframes move {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    width: 60px;
    visibility: visible;
  }
}
@-webkit-keyframes width1 {
  from {
    width: 80%;
  }
  to {
    width: 60%;
  }
}
@keyframes width1 {
  from {
    width: 80%;
  }
  to {
    width: 60%;
  }
}
@-webkit-keyframes width2 {
  from {
    width: 20%;
  }
  to {
    width: 40%;
  }
}
@keyframes width2 {
  from {
    width: 20%;
  }
  to {
    width: 40%;
  }
}
@keyframes apparaitre {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disparaitre {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* RESPONSIVE */
@media (min-width: 767.98px) {
  body {
    background: white;
  }
  .menu-container {
    max-width: 1055px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .menu-container .title-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-container .menu-content {
    max-width: 634px;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */